{% extends 'base.html' %}

{% block content %}
<form action="" method="get" class="filter-form">
    {{ form }}
    <input type="submit" value="Szukaj" />
    <a class="reset-form" href="{% url 'homepage' %}">Wyczyść filtr</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nr lotu</th>
            <th>Z</th>
            <th>Do</th>
            <th>Wylot</th>
            <th>Przylot</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights %}
        <tr onclick="window.location='{{ flight.get_absolute_url }}';" class="selectable">
            <td>{{ flight.id }}</td>
            <td>{{ flight.start_airport }}</td>
            <td>{{ flight.landing_airport }}</td>
            <td>{{ flight.start }}</td>
            <td>{{ flight.landing }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}